# Это файл .gitignore
#
# Основные игнорируемые файлы Unity
[ Ll ] библиотека /
[ Тт ] эмп /
[ Оо ] Ъ /
[ Bb ] уилд /
[ Bb ] uilds /
[ Ll ] огс /
[ мм ] emoryCaptures /
[ Uu ] serSettings /

# Метаданные актива следует игнорировать только в том случае, если соответствующий актив также игнорируется
[ Aa ] ssets / ** / * .meta

# Раскомментируйте эту строку, если вы хотите игнорировать плагин инструментов хранилища активов
[ Aa ] ssets / AssetStoreTools *

# Автоматически сгенерированный плагин Jetbrains Rider
[ Aa ] ssets / Плагины / Редактор / JetBrains *

# Каталог кеша Visual Studio
.vs /

# .ide каталог
Безымянные герои / .idea

# Каталог кеша Gradle
.градле /

# Автоматически созданные файлы решений и проектов VS/MD/Consulo
ЭкспортированныйОбъект /
.консуло /
* .csproj
* .unityproj
* .sln
* .суо
* .tmp
* .пользователь
* .userprefs
* .pidb
* .бупродж
* .свд
* .pdb
* .mdb
* .opendb
* .VC.db
* .идея

# Сгенерированные Unity3D метафайлы
* .pidb.meta
* .pdb.meta
* .mdb.meta

# Сгенерированный Unity3D файл в отчетах о сбоях
sysinfo.txt

# Сборки
* .апк
* .unitypackage

# Сгенерированный файл Crashlytics
Crashlytics-build.properties
UnityProject / UserSettings / EditUserSettings.asset
UnityProject / UserSettings / EditUserSettings.asset
NamelessHeroes / ProjectSettings / EditorBuildSettings.asset
NamelessHeroes / ProjectSettings / ProjectSettings.asset

# Неиспользуемый импорт
NamelessHeroes / Assets / Imports / Ignored /